body {
	padding-top: 5em;
	background: url("../../assets/images/body_img.jpg");
}

#bgndVideo {
	min-height: 100%;
	min-width: 100%;
}

#video-show {
	height: 100%;
	width: 100%;
}

.photo-gallery img {
	height: 100%;
	width: 100%;
}
.col-lg-4.col-md-4.col-sm-6.item {
	height: 300px;
}

.navbar.navbar-default.navigation-clean.navbar-fixed-top {
	height: 5em;
}

.navbar.navbar-default.navigation-clean.navbar-fixed-top .container {
	margin-top: 0.5em;
}

.navbar-default .navbar-nav>li>a:hover {
	color: rgba(254,82,76, 1);
}
.navbar-default .navbar-nav>li>a{
	font-size: 1.2em;
}

.navbar-brand.navbar-link {
	font-size: 2.2em;
	color: rgba(254,82,76, 1);;
	font-weight: bold;
}

#event-location {
	display: flex;
	align-items: center;
	height: 320px;
}

.vertical-center {
	margin: 0 auto;
}

#empty-space {
	height: 30px;
}

.col-md-12.col-lg-6 iframe {
	width: 100%;
}

.about.content-section.alt-bg-light {
	background: rgba(255,255,255,0.8);
}

.photo-gallery {
	background: rgba(255,255,255,0.6);
}
section#services {
    background: rgba(255,255,255,0.8);
}

#map, #contact {
	background: rgba(255,255,255,0.6);
}