
@media (min-width:1200px) {

  #counter h1 {
    font-size: 4em;
  }

  #counter .counter-wrap {
    font-size: 3em;
    padding: 40px 0;
  }

  footer{
    background-color: black;
    height: 200px;
    padding-bottom: 50px;
  }

}

/*iphone 7*/
/*landscape*/
@media only screen and (min-device-width: 750px) and (max-device-width: 1334px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #counter {
    padding: 10px 0;
  }

  #counter h1 {
    font-size: 5em;
    padding: 48px 0;
  }

  #counter .counter-wrap {
    font-size: 3em;
    color: white;
    padding: 50px 0;
  }

}
/*portrait*/
@media only screen and (min-device-width: 750px) and (max-device-width: 1334px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #counter {
    padding: 40px 0;
  }

  #counter h1 {
    font-size: 4em;
    padding: 16px 0;
  }

  #counter .counter-wrap {
    font-size: 2.5em;
    color: white;
    padding: 16px 0;
  }

  .photo-gallery h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
  }
  .photo-gallery .item {
      height: 262px;
      padding: 10px;
  }
  .photo-gallery .item:first-child {
      height: 421px;
  }

  #event
  .carousel,
  .item,
  .active {
      height: 467px;
  }

  #map iframe {
      height: 300px;
  }


}
footer .container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
