.photo-gallery {
    color: #313437;
}

.photo-gallery p {
    color: #7d8285;
}

.photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}


/*-----------------------------iphone 5 and iphone 5s--------------------------------*/


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #video {
        padding-top: 70px;
    }
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.2em;
    }
    p {
        font-size: 1em;
        line-height: 100%;
    }
    .photo-gallery .item {
        height: 115px;
        padding: 5px;
    }
    .photo-gallery .item:first-child {
        height: 201px;
    }
    .carousel-inner .item {
        height: 233px;
    }
    .carousel-caption h1 {
        font-size: 2em;
    }
    .carousel-caption p {
        line-height: 0.3em;
        font-size: 0.6em;
    }
    .navbar-brand.navbar-link {
        font-size: 1em !important;
    }
    #carousel-1 div div .carousel-caption h3 {
        font-size: 1.5em;
    }
    #video-caption {
        font-size: 0.8em;
        top: 7%;
    }
    #counter h1 {
        font-size: 1.5em;
        /* padding: 10px 0; */
    }
    #myMap {
        height: 180px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
    .photo-gallery .item {
        height: 188px;
        padding: 5px;
    }
    .photo-gallery .item:first-child {
        height: 307px;
    }
    .carousel .item .active {
        height: 325px;
    }
    #event {
        padding: 50px 0 0 0;
    }
    #video-caption {
        font-size: 0.6em;
        top: 25%;
    }
    .navbar-brand.navbar-link {
        font-size: 1.5em !important;
    }
}


/*-----------------------------iphone 6 plus--------------------------------*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .photo-gallery .item {
        height: 129px;
        padding: 5px;
    }
    .photo-gallery .item:first-child {
        height: 241px;
    }
    .carousel-inner .item {
        height: 265px;
    }
    .carousel-inner .item {
        height: 265px;
    }
    .carousel-caption h1 {
        font-size: 2em;
    }
    .carousel-caption p {
        line-height: 5px;
        font-size: 0.8em;
    }
    #video-caption {
        font-size: 1.1em;
        top: 7%;
    }
    .navbar-brand.navbar-link {
        font-size: 1.3em !important;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .photo-gallery .item {
        height: 244px;
        padding: 7px;
    }
    .photo-gallery .item:first-child {
        height: 382px;
    }
    .carousel-inner .item {
        height: 265px;
    }
    .carousel-inner .item {
        height: 380px;
    }
    .carousel-caption h1 {
        font-size: 2em;
    }
    .carousel-caption p {
        line-height: 17px;
        font-size: 1em;
    }
    #video-caption {
        font-size: 1.3em;
        top: 20%;
    }
    .navbar-brand.navbar-link {
        font-size: 1.5em !important;
    }
}


/*-----------------------------iphone 6 and iphone 7--------------------------------*/


/* portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .photo-gallery .item {
        height: 129px;
        padding: 5px;
    }
    .photo-gallery .item:first-child {
        height: 241px;
    }
    .carousel-inner .item {
        height: 288px;
    }
    .carousel-caption h1 {
        font-size: 2em;
    }
    .carousel-caption p {
        line-height: 7px;
        font-size: 0.7em;
    }
    #myMap {
        height: 210px;
    }
    footer {
        background-color: lightgrey;
        height: 220px;
        padding-bottom: 50px;
    }
    #video-caption {
        font-size: 1.1em;
        top: 7%;
    }
    .navbar-brand.navbar-link {
        font-size: 1em !important;
    }
}


/* Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .photo-gallery .item {
        height: 212px;
        padding: 5px;
    }
    .photo-gallery .item:first-child {
        height: 348px;
    }
    .carousel-inner .item {
        height: 399px;
    }
    footer {
        background-color: lightgrey;
        height: 220px;
        padding-bottom: 50px;
    }
    #myMap {
        height: 300px;
    }
    #video-caption {
        font-size: 1.2em;
        top: 22%;
    }
    #counter h1 {
        font-size: 2em;
        /* padding: 10px 0; */
    }
    .navbar-brand.navbar-link {
        font-size: 1.5em !important;
    }
    #counter .counter-wrap {
        font-size: 1.5em;
        color: white;
        /* padding: 20px 0; */
    }
}


/*ipad*/


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
    .photo-gallery .item {
        height: 200px;
        padding: 10px;
    }
    .carousel .item .active {
        height: 400px;
    }
    #map iframe {
        height: 400px;
    }
}


/*portrait*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
    .photo-gallery .item {
        height: 200px;
        padding: 10px;
    }
    .carousel .item .active {
        height: 400px;
    }
    #map iframe {
        height: 400px;
    }
}


/*-----------------------------laptop size--------------------------------*/


/*min width 1200 laptop size*/

@media (min-width:1200px) {
    #event-location {
        height: 350px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #sponsor img {
        height: 40%;
        width: 40%;
        margin: 0 auto;
    }

    #organization img {
        width: 100%;
    } 
	
	#special img {
        width: 100%;
    }

    #sponsor .item:nth-child(2) img{
        height: 40%;
        width: 4%;
    }
	#sponsor .item:nth-child(3) img{
        height: 100%;
        width: 100%;
    }
    #video-caption {
        font-size: 1.7em;
        top: 18%;
    }
    .photo-gallery .item {
        height: 259px;
        padding: 5px;
    }
    .carousel-inner .item {
        height: 529px;
    }
    #video {
        margin-top: -4vw;
    }
    footer h2 {
        font-size: 3em;
    }
    #event p {
        font-size: 1.3em;
    }
    #event a {
        font-size: 1.3em;
    }
    #sponsor {
        padding: 50px 0;
    }

    #overview {
        padding-top: 50px;
    }
    #myMap {
        height: 350px;
    }
    .nav.navbar-nav.navbar-right > li:last-child {
        padding-left: 20px;
    }

    #gallery {
        padding-top: 5%;
    }
}

.photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}

.photo-gallery .intro p {
    margin-bottom: 0;
}

.photo-gallery .photos {
    padding-bottom: 20px;
}

img.img-responsive {
    height: 100%;
    width: 100%;
}

footer {
    background-color: lightgrey;
}
