.photo-gallery {
    color: #313437;
}

.photo-gallery p {
    color: #7d8285;
}

.photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}


/* ----------- iPhone 5 and 5S ----------- */


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
    .photo-gallery .item {
        height: 125px;
        padding: 5px;
    }
    .photo-gallery .item:first-child {
        height: 201px;
    }
    .carousel-inner .item .active {
        height: 108px;
    }

    #carousel-1 div div .carousel-caption h3 {
        font-size: 1.5em;
    }
}


/* Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
    .photo-gallery .item {
        height: 188px;
        padding: 5px;
    }
    .photo-gallery .item:first-child {
        height: 307px;
    }
    .carousel,
    .item,
    .active {
        height: 325px;
    }
    
    #event {
        padding: 50px 0 0 0;
    }
}
/*iphone 6*/
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
    .photo-gallery .item {
        height: 212px;
        padding: 5px;
    }
    .photo-gallery .item:first-child {
        height: 348px;
    }
    .carousel-inner .item{
        height: 399px;
    }
  footer{
    background-color: lightgrey;
    height: 220px;
    padding-bottom: 50px;
  }
    #map iframe {
        height: 300px;
    }
}

/* portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
    .photo-gallery .item {
        height: 129px;
        padding: 5px;
    }
    .photo-gallery .item:first-child {
        height: 241px;
    }

    .carousel-inner .item{
        height: 265px;
    }

    .carousel-caption h1{
        font-size: 2em;
    }

    .carousel-caption p{
        line-height: 5px;
        font-size: 0.8em;
    }

    #map iframe {
        height: 300px;
    }
  footer{
    background-color: lightgrey;
    height: 220px;
    padding-bottom: 50px;
  }

}
/*ipad*/
/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
    .photo-gallery .item {
        height: 200px;
        padding: 10px;
    }
    .carousel .item .active {
        height: 400px;
    }

    #map iframe {
        height: 400px;
    }
}

/*portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
    .photo-gallery .item {
        height: 200px;
        padding: 10px;
    }
    .carousel .item .active {
        height: 400px;
    }

    #map iframe {
        height: 400px;
    }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #counter {
    padding: 50px 0;
  }

  #counter h1 {
    font-size: 3em;
    padding: 10px 0;
  }

  #counter .counter-wrap {
    font-size: 2.5em;
    color: white;
    padding: 20px 0;
  }

      .carousel-inner .item{
        height: 235px;
    }

    .carousel-caption h1{
        font-size: 1.5em;
    }

    .carousel-caption p{
        line-height: 3px;
        font-size: 0.6em;
    }



  footer{
    background-color: lightgrey;
    height: 210px;
    padding-bottom: 50px;
  }

}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

  #counter {
    padding: 10px 0;
  }

  #counter h1 {
    font-size: 3em;
    padding: 5px 0;
  }

      .carousel-inner .item{
        height: 337px;
    }

    .carousel-caption h1{
        font-size: 2em;
    }

    .carousel-caption p{
        line-height: 10px;
    }

  #counter .counter-wrap {
    font-size: 2.5em;
    color: white;
    padding: 10px 0;
  }

  footer{
    background-color: lightgrey;
    height: 335px;
    padding-bottom: 50px;
  }
}


/*min width 1200 laptop size*/
@media (min-width:1200px) {
    .photo-gallery .item {
        height: 300px;
        padding: 10px;
    }
    #map iframe {
        height: 25em;
    }
    #event-location {
        height: 25em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carousel-inner .item {
        max-height: 500px !important;
    }
}

.photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}

.photo-gallery .intro p {
    margin-bottom: 0;
}

.photo-gallery .photos {
    padding-bottom: 20px;
}

img.img-responsive {
    height: 100%;
    width: 100%;
}

footer {
    background-color: lightgrey;
}