video {
    height: 100%;
    width: 100%;
}

#video {
    background-color: black;
    position: relative;
}

@media (max-width:1199px) {
    #video {
        margin-top: 70px;
    }
}

@media (min-width:1200px) {
    #video {
        margin-top: -40px;
    }
    .carousel-inner .item {
        max-height: 500px !important;
    }
    
    footer h2 {
		font-size: 3em;
	}

    #event p {
        font-size: 1.3em;
    }

    #event a {
        font-size: 1.3em;
    }
}

/*iphone 5*/
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	#map iframe {
		height: 200px;
	}
	#map {
	    padding: 100px 0;
	}
    footer h2 {
		font-size: 1em;
	}
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	#map iframe {
		height: 200px;
	}
    footer h2 {
		font-size: 1.5em;
	}
}

#video > div {
    position: relative;
}

#map {
	padding-top: 5%;
	padding-bottom: 5%;
}

#event {
    padding-top: 5%;
}

#video-control {
    height: 3em;
    width: 5em;
    position: absolute;
    right: 1%;
    bottom: 1%;
}

.glyphicon {
    color: lightblue;
}

#video-control button {
    border: 0px solid transparent;
    background-color: transparent;
    margin-top: 5px;
}
.navbar.navbar-default.navbar-fixed-top.navigation-clean{
	will-change: transform;
}

#overview h1 {
	font-size: 2.5em;
}

#overview h3 {
	font-size: 1.5em;
}

#overview p {
	font-size: 1.2em;
}

#overview article {
    font-size: 1.1em;
    color: white;
}
.navbar.navbar-default.navbar-fixed-top.navigation-clean a {
    color: rgb(252,247,41);
}