body {
    background-image: url('../img/body-img.jpg');
}

.nav.navbar-nav.navbar-right {
    z-index: 1030;
}

video {
    height: 100%;
    width: 100%;
}

#video {
    background-color: black;
    position: relative;
}

#video > div {
    position: relative;
}

#video p{
    position: absolute;
    color: gold;
    text-align: center;
    margin-left: 5%;
}


#video > div {
    position: relative;
}

#map {
    padding-top: 5%;
    padding-bottom: 5%;
}

#event {
    padding-top: 5%;
}

#video-control {
    height: 3em;
    width: 5em;
    position: absolute;
    right: 1%;
    bottom: 1%;
}

.glyphicon {
    color: lightblue;
}

#video-control button {
    border: 0px solid transparent;
    background-color: transparent;
    margin-top: 5px;
}
.navbar.navbar-default.navbar-fixed-top.navigation-clean{
    will-change: transform;
}


#overview article {
    font-size: 1.1em;
    color: black;
}

#overview article p {
    text-indent: 25px;
}
.navbar.navbar-default.navbar-fixed-top.navigation-clean a {
    color: rgb(252,247,41);
}

#overview, #gallery, #map, #event{
     background: rgba(255, 255, 255, .8);
}

#counter {
    background-color: rgb(130, 26, 21);
}

#counter h1 {
    color: rgb(252,247,41);
}

#counter .counter-wrap {
    color: rgb(252,247,41);
}

#event p {
    color: black;
}

#event h2 {
    color: black;
}


#carousel-1 img {
    -webkit-filter: blur(5px);
            filter: blur(5px);
}

